*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.sidepanel{
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid rgb(95, 95, 95);
    color: white;
    text-align: center;
    position: fixed;
    background: #fc6b3e;
    width: 350px;
    height: 100%;
    
}
.sidepanel img{
    padding-top: 50px;
    
}


.main{
    margin-left: 200px;
    padding: 5px;
}

.main h2{
    margin-top: 20px;
}